  <!--<mat-grid-list cols="4" rowHeight="150px">
    <mat-grid-tile colspan="4">
        CONTÁCTANOS
    </mat-grid-tile>
    <mat-grid-tile colspan="2">PONERTE EN CONTACTO</mat-grid-tile>
    <mat-grid-tile colspan="2">INFORMACIÓN</mat-grid-tile>
    <mat-grid-tile colspan="2">
        <div>
            <mat-form-field class="campos-input">
              <mat-label>Nombre(s)</mat-label>
              <input matInput placeholder="">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="campos-input">
              <mat-label>Email</mat-label>
              <input matInput placeholder="">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="campos-input">
              <mat-label>Asunto</mat-label>
              <input matInput placeholder="">
            </mat-form-field>
        </div>
        <mat-form-field>
            <textarea matInput placeholder="Tu mensaje"></textarea>
        </mat-form-field>

    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <ul>
            <li>Gallery</li>
            <li>Guarne, Antioquia</li>
            <li>Colombia</li>
            <li>Mobil: 3128906158</li>
            <li>Email: info@gallery.com.c</li>
        </ul>
    </mat-grid-tile>
  </mat-grid-list>
  <button mat-raised-button color="primary">Enviar</button>-->
  <br/>
  <br/>
<!--con boostrap-->
  <div class="container">
    <div class="row">
      <div class="col" style="text-align:center">CONTÁCTANOS</div>
    </div>
    <br/>
    <div class="row">
      <div class="col" style="text-align:center">PONERTE EN CONTACTO</div>
      <div class="col" style="text-align:center">INFORMACIÓN</div>
    </div>
    <br/>
    <div class="row">
      <div class="col" style="text-align:center">
        <div class="row">
          <div class="col">
            <mat-form-field class="campos-input">
              <mat-label>Nombre(s)</mat-label>
              <input matInput placeholder="">
            </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="campos-input">
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="">
                </mat-form-field>
              </div>
        </div>
          
          <div class="row">
          <div class="col">
            <mat-form-field class="campos-input">
              <mat-label>Asunto</mat-label>
              <input matInput placeholder="">
            </mat-form-field>
              </div>   
          </div> 
          
          <div class="row">
          <div class="col">
            <mat-form-field style="width: 100%;">
              <textarea matInput placeholder="Tu mensaje"></textarea>
          </mat-form-field>
              </div>   
          </div> 
          
          <div class="row">
              <div class="col">
                <button mat-raised-button color="primary">Enviar</button>
              </div>   
          </div> 
          <br/>
      </div>
      
      <div class="col">
        <p>Gallery</p>
          <p>Guarne, Antioquia</p>
          <p>Colombia</p>
          <p>Mobil : 3128906158</p>
          <p>Email : info@gallery.com.co</p>
      </div>
    </div>
    
  </div>




