<!-- Top Bar -->
<div class="top-bar">
  <div class="container">
    <div class="">
      <div class="">
        <div class="social-media">
          <ul>
            <li>
              <a href="#"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-google-plus-g"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="">
        <div class="contact-details">
          <ul>
            <li><i class="fas fa-phone fa-rotate-90"></i> +57 312 890 6158</li>
            <li><i class="fas fa-address-card"></i> info@gallery.com.co</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
afasdfadsfadsfs
<div class="header-middle">
  <!--header-middle-->
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="logo pull-left">
          <a href="index.html"
            ><img src="../../../assets/img/logoBlanco1.png" alt=""
          /></a>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="shop-menu pull-right">
          <ul class="">
            <li>
              <a routerLink="/app-registro" routerLinkActive="active"
                ><img src="../../../assets/img/account_box-24px.svg" alt="" />
                Registrarse</a
              >
            </li>
            <li>
              <a routerLink="/app-lista-de-deseos" routerLinkActive="active"
                ><img src="../../../assets/img/stars-black-18dp.svg" alt="" />
                Lista de deseos</a
              >
            </li>
            <li>
              <a routerLink="/app-confirmar-orden" routerLinkActive="active"
                ><img
                  src="../../../assets/img/arrow_forward-black-18dp.svg"
                  alt=""
                />
                Pagar</a
              >
            </li>
            <li>
              <a routerLink="/app-carro-de-compra" routerLinkActive="active"
                ><img
                  src="../../../assets/img/shopping_cart-black-18dp.svg"
                  alt=""
                />
                Carrito<span> (2)</span></a
              >
            </li>
            <li>
              <a routerLink="/app-login" routerLinkActive="active"
                ><img src="../../../assets/img/lock-black-18dp.svg" alt="" />
                Ingresar</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/header-middle-->

<!--<mat-form-field>
                        <select matNativeControl>
                          <option value="COP">COP</option>
                          <option value="US">US</option>
                        </select>
                      </mat-form-field>
                    
<button mat-button [matMenuTriggerFor]="menu">Tienda</button>
                <mat-menu #menu="matMenu">
                <button mat-menu-item>Productos</button>
                <button mat-menu-item>Detalles producto</button>
                </mat-menu>
                    
            <div class="search_box">
                        <input type="text" placeholder="Buscar"/>      
                        <button mat-raised-button color="primary"><img src="../../../assets/img/searchicon.png" alt=""/></button>                                    
                    </div>
                    
                    <mat-form-field class="cuadro-busqueda">
                        <input type="text" class="form-control" placeholder="Search for...">
                    </mat-form-field>

                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Buscar...">
                        <span class="input-group-btn">
                          <button class="btn btn-default" type="button">Buscar</button>
                        </span>
                      </div>
                    
                    <button class="boton-busqueda"><img src="../../../assets/img/searchicon.png" alt=""/></button>
                    <button mat-raised-button color="primary"><img src="../../../assets/img/searchicon.png" alt=""/></button>
            -->
<!-- Navigation -->
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-light top-nav">
    <button
      class="navbar-toggler navbar-toggler-right"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="fas fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link active" href="index.html">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link"
            href="#"
            id="navbarDropdownBlog"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            >Tienda <i class="fas fa-sort-down"></i
          ></a>
          <div
            class="dropdown-menu dropdown-menu-right"
            aria-labelledby="navbarDropdownBlog"
          >
            <a class="dropdown-item" href="faq.html">Productos</a>
            <a class="dropdown-item" href="404.html">Detalles productos</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link"
            href="#"
            id="navbarDropdownBlog"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            >Blog <i class="fas fa-sort-down"></i
          ></a>
          <div
            class="dropdown-menu dropdown-menu-right"
            aria-labelledby="navbarDropdownBlog"
          >
            <a class="dropdown-item" href="blog.html">Blog</a>
            <a class="dropdown-item" href="blog-post.html">Blog Post</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/app-contacto">Contacto</a>
        </li>
      </ul>
    </div>

    <div class="search-box">
      <input type="text" placeholder="Buscar" />
      <button mat-raised-button color="primary" class="boton-busqueda">
        Buscar
      </button>
    </div>
  </nav>
</div>
<!-- Navigation -->
